/*====
Fonts
=====*/

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mochiy Pop P One';
  src: url('fonts/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* * {
  outline: 1px dashed red;
} */

/*=================
Universal selectors
==================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*======
Root variables
=========*/
:root {
  --background: #1F2937;
  --hero-light: #F9FAF8;
  --info-dblu: #1F2937;
  --subh-grey: #E5E7EB;
  --butn-blue: #3882F6;
}

/*=========
Page setup
===========*/
html {
  min-height: 100vh;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 62.5%;
  max-width: 200rem;
}

body {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 1.6rem;
}

/*======
Buttons
========*/
button,
.action-btn {
  background-color: var(--butn-blue);
  width: 14rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn a {
  text-decoration: none;
  color: white;
}

.border-highlight {
  border: 0.2rem solid white;
}

/*=================
Header: logo + nav
==================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header-logo {
  color: var(--hero-light);
  font-size: 2.4rem;
  font-family: 'Mochiy Pop P One', sans-serif;
}

header nav {
  justify-self: center;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 5rem;
  color: var(--subh-grey);
}

/*===============
Hero title card
================*/
.title-card {
  display: flex;
  padding: 10rem 0 13rem;
  gap: 5rem;
}

.title-card a {
  text-decoration: none;
  color: white;
}

.title-card h1 {
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--hero-light);
  margin: 0;
}

.title-card p {
  color: var(--subh-grey);
  font-size: 1.8rem;
  margin: 0;
}

.title-card-info-col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 40rem;
}

.title-card-image-col-2 {
  background-color: plum;
  border: 0.4rem solid rgb(65, 59, 121);
  border-radius: 0.3rem;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 52.5rem;
}

.title-card-image-col-1,
.title-card-image-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25rem;
}

.title-card-image-col-2 img {
  width: 100rem;
}

/*=========
background
===========*/
header, .title-card {
  background-color: var(--background);
  padding-left: 16rem;
  padding-right: 16rem;
}

/*==============
Image Tile Cards
================*/
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 100rem;
}

.main-info h2 {
  color: var(--info-dblu);
  font-weight: bold;
  font-size: 3.6rem;
  margin: 5rem 0 4.5rem;
}

.main-image-tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
}

.image-card a {
  text-decoration: none;
  color: black;
}

.image-box {
  width: 17rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  border: 0.5rem solid var(--butn-blue);
  border-radius: 2rem;
  overflow: hidden;
}

.image-box img {
  width: 30rem;
  height: auto;
}

.image-card p {
  text-align: center;
}

/*==========
Testimonial
============*/
.testimonial {
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: var(--subh-grey);
  margin: 10rem 0 0;
}

.testimonial p {
  padding: 0;
  margin: 0;
}

.quote {
  color: var(--info-dblu);
  font-style: italic;
  font-size: 3.6rem;
}

.author {
  align-self: flex-end;
  font-size: 2.5rem;
  font-weight: bold;
}

.author A {
  text-decoration: none;
  color: black;
}

/*============
Action banner
=============*/
.call-to-action-banner {
  display: flex;
  flex: auto;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  
  color: white;

  height: 15rem;
  margin: 10rem 0;
  padding: 5rem 15vmin;

  border-radius: 1rem;
  background-color: var(--butn-blue);
}

.call-to-action-banner p,
.call-to-action-banner h2 {
  padding: 0;
  margin: 0;
}

.call-to-action-banner p {
  color: var(--subh-grey);
  font-size: 1.8rem;
}

.call-to-action-banner a {
  text-decoration: none;
  color: white;
}

/*======
Footer
========*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 0;
  font-size: 1.8rem;
  color: var(--subh-grey);
  background-color: var(--background);
}

/* @media only screen and (max-width: 1315px) {



} */

@media (min-width: 481px) and (max-width: 1050px) {

  .header-logo {
    margin-right: 2rem;
  }

  .title-card {
    justify-content: center;
  }

  header,
  .title-card {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .call-to-action-banner {
    padding: 1rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 6rem;
  }

  .call-to-action-banner p {
    margin-top: 1rem;
  }

  .testimonial {
    padding: 11rem 4rem;
  }

  footer {
    flex-direction: column;
  }

  footer p {
    margin: 0 3rem;
    text-align: center;
  }

  .footer-margin-bottom {
    margin-bottom: 1.5rem;
  }  
}

@media (max-width: 1050px) {
  .title-card {
    flex-wrap: wrap;
  }
}

@media (min-width: 1050px) {
  .testimonial {
    padding: 11rem 15rem;
  }
  
}