/*=======
  Fonts
========*/
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mochiy Pop P One';
  src: url('fonts/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*=====================
  Universal selectors
======================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*================
  Root variables
==================*/
:root {
  --background: #1F2937;
  --hero-light: #F9FAF8;
  --info-dblu: #1F2937;
  --subh-grey: #E5E7EB;
  --butn-blue: #3882F6;
}

/*=============
  Page setup
===============*/
html { 
  font-size: 62.5%;
  max-width: 200rem;
  min-height: 100vh;
  font-family: 'Roboto-Regular', sans-serif;
}

body {
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
}

/*==========
  Buttons
============*/
button,
.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 14rem;
  height: 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center; 

  border-radius: 0.8rem;
  background-color: var(--butn-blue);  
}

.action-btn a {
  color: white;
  text-decoration: none;
}

.border-highlight {
  border: 0.2rem solid white;
}

/*=====
  nav
=======*/
nav {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

nav .header-logo {
  font-size: 2.4rem;
  color: var(--hero-light);
  font-family: 'Mochiy Pop P One', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  gap: 5rem;
  display: flex;
  list-style: none;
  color: var(--subh-grey);
}

/*==============
  Header: hero
================*/
.title-card {
  gap: 5rem;
  display: flex;
  padding: 10rem 0 13rem;
}

.title-card a {
  color: white;
  text-decoration: none;
}

.title-card h1 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: bold;
  color: var(--hero-light);
}

.title-card p {
  margin: 0;
  font-size: 1.8rem;
  color: var(--subh-grey);
}

.title-card-col-1 {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.title-card-col-2 {
  height: 25rem;
  width: 52.5rem;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 0.3rem;
  background-color: plum;
  border: 0.4rem solid rgb(65, 59, 121);

  display: flex;
  align-items: center;
  justify-content: center;
}

.title-card-col-2 img {
  width: 100rem;
}

/*============
  background
==============*/
nav, .title-card { 
  padding-left: 16rem;
  padding-right: 16rem;
  background-color: var(--background);
}

/*============
  Main Cards
==============*/
main {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main h2 {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 5rem 0 4.5rem;
   color: var(--info-dblu);
}

.main-cards {
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  width: 17rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.image-card a {
  color: black;
  text-decoration: none;
}

.image-box {
  display: flex;
  justify-content: center;

  width: 17rem;
  height: 17rem;

  overflow: hidden;
  border-radius: 2rem;
  border: 0.5rem solid var(--butn-blue);
}

.image-box img {
  width: 30rem;
  height: auto;
}

.image-card p {
  text-align: center;
}

/*==========
Testimonial
============*/
.testimonial {  
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 10rem 0 0;
  background-color: var(--subh-grey);
}

.testimonial p {
  padding: 0;
  margin: 0;
}

.quote {
  color: var(--info-dblu);
  font-style: italic;
  font-size: 3.6rem;
}

.author {
  font-size: 2.5rem;
  font-weight: bold;
  align-self: flex-end;
}

.author A {
  text-decoration: none;
  color: black;
}

/*================
  Call To Action
==================*/
.call-to-action-banner {
  flex: auto;

  gap: 10rem;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  
  
  color: white;

  height: 15rem;
  margin: 10rem 0;
  padding: 5rem 15vmin;

  border-radius: 1rem;
  background-color: var(--butn-blue);
}

.call-to-action-banner p,
.call-to-action-banner h2 {
  padding: 0;
  margin: 0;
}

.call-to-action-banner p {
  color: var(--subh-grey);
  font-size: 1.8rem;
}

.call-to-action-banner a {
  text-decoration: none;
  color: white;
}

/*========
  Footer
==========*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 0;
  font-size: 1.8rem;
  color: var(--subh-grey);
  background-color: var(--background);
}

/*=====================
  Viewport Responsive
=======================*/
/*=======================================
  if viewport width > 320px && 1050px <
=========================================*/
@media (min-width: 320px) and (max-width: 1050px) {

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    gap: calc(25vmin);
    margin-top: 0.5rem;
  }

  nav .header-logo {
    margin-right: 2rem;
  }

  .title-card {
    justify-content: center;
    padding-top: 6rem;
  }

  .title-card a {
    text-align: center;
    align-self: center;
  }

  .title-card a {
    margin-top: 1rem;
  }

  nav,
  .title-card {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  main {
    text-align: center;
  }

  .call-to-action-banner {
    gap: 6rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem 2rem;
  }

  .call-to-action-banner p {
    margin-top: 1rem;
  }

  .testimonial {
    padding: 11rem 4rem;
    gap: 2rem;
  }

  .quote {
    font-size: 2.5rem;
    text-align: left;
  }

  .author {
    align-self: center;
  }

  footer {
    flex-direction: column;
  }

  footer p {
    margin: 0 3rem;
    text-align: center;
  }

  .footer-margin-bottom {
    margin-bottom: 1.5rem;
  }  
}

/*============================
  Run when vw hits < 1050px 
==============================*/
@media (max-width: 1050px) {
  .title-card {
    flex-wrap: wrap;
  }
}

/*============================
  if viewport width < 1050px 
==============================*/
@media (min-width: 1050px) {
  .testimonial {
    padding: 11rem 15rem;
  }
}